<app-login-header></app-login-header>

<br>
<div class="container paddingRegistration" >
  <form #loginForm="ngForm" (ngSubmit)="registerUser()">
    <small class="text-danger">{{message}}</small>
    <div class="form-group">
      <label for="inputFirstName">First Name</label>
      <input type="firstName" class="form-control" id="inputFirstName" aria-describedby="firstNameHelp"
             placeholder="Enter first name" name="firstName" [(ngModel)]="user.firstName"
             required #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
      <small id="firstNameHelp" class="form-text text-muted">Please input your first name.</small>
    </div>
    <div class="form-group">
      <label for="inputLastName">Last Name</label>
      <input type="lastName" class="form-control" id="inputLastName" aria-describedby="lastNameHelp"
             placeholder="Enter last name" name="firstName" [(ngModel)]="user.lastName"
             required #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
      <small id="lastNameHelp" class="form-text text-muted">Please input your last name.</small>
    </div>
    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp"
             placeholder="Enter username" name="username" [(ngModel)]="user.username"
             required #username="ngModel" [class.is-invalid]="username.invalid && username.touched">
      <small id="usernameHelp" class="form-text text-muted">Please input your username.</small>
    </div>
    <div class="form-group">
      <label for="inputEmail">E-Mail</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="usernameHelp"
             placeholder="Enter email" name="email" [(ngModel)]="user.email"
             required #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
      <small id="emailHelp" class="form-text text-muted">Please input your email.</small>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"
             [(ngModel)]="user.password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
    </div>
    <br>
    <div class="form-group">
      <button type="login" class="btn btn-primary">Create Account!</button>
      <button type="register" class="btn btn-secondary float-end" (click)="goToLogin()">Go to login</button>
    </div>
  </form>
</div>
