<div class="container " >
  <br>
    <div class="card ">
      <div class="userfollowbox">

        <div class="userimg">
            <img src="assets/img/user_icon.png" height="32px">
        </div>
        <div class="username">
           {{username}}
        </div>
        <div class="follow">
          <button class="btn btn-primary follow-btn" *ngIf="currentHelper" (click)="deleteFollowRelation()">Unfollow</button>
          <button class="btn btn-primary follow-btn" *ngIf="!currentHelper" (click)="goToUserPage(username)">Go to User</button>
        </div>
      </div>
    </div>
</div>



