<app-main-page-header></app-main-page-header>

<div class="container paddingLogin" >
  <br>
  <button class="btn btn-secondary btn-50" (click)="backToLogin()">Back to Login</button>
  <button class="btn btn-primary btn-50" (click)="goToPosts()">Mein Konto</button>
</div>

<div  class="feed">
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
  <app-posting></app-posting>
</div>


<div class="container paddingLogin" >
  <br>
  <button class="btn btn-primary btn-50" (click)="backToLogin()">Suche</button>
  <button class="btn btn-primary btn-50" (click)="goToPosts()">Posten</button>
  <br>
  <button class="btn btn-primary btn-50" (click)="goToFollowfriends()">Folge ich</button>
  <button class="btn btn-primary btn-50" (click)="goToFollowme()">Folgen mir</button>
</div>

<div class="container paddingLogin" >
  <br>
  <button class="btn btn-dark btn-50" (click)="backToLogin()">Rafafel Bakaschev folgen (Test)</button>
  <button class="btn btn-dark btn-50" (click)="backToLogin()">Rafafel Bakaschev entfolgen (Test)</button>

</div>
