<app-header-lightblue></app-header-lightblue>

<br>

<div class="container paddingPost">
  <button type="register" class="btn btn-primary" (click)="backToMainPage()">Main Page</button>
  <br>
  <form #postForm="ngForm">
    <div class="form-group">
      <label for="inputImageUrl">Image Url</label>
      <input type="imageUrl" class="form-control" id="inputImageUrl"
             placeholder="Enter image url" name="imageUrl" required #image="ngModel" [(ngModel)]="post.imageUrl">
<!--      <select id="inputImageUrl" [(ngModel)]="post.imageUrl">-->
<!--        <option *ngFor="let emoji of emojis">-->
<!--          {{emoji}}-->
<!--        </option>-->
<!--      </select>-->
      <small id="imageUrlHelper" class="form-text text-muted">Please input a image url.</small>
    </div>
    <div class="form-group">
      <label for="inputPostMessage">Message</label>
      <input type="postMessage" class="form-control" id="inputPostMessage"
             placeholder="Enter message" name="message" required #message="ngModel" [(ngModel)]="post.message">
      <small id="messageHelper" class="form-text text-muted">Please input a message.</small>
    </div>
    <br>
    <div class="form-group">
      <button type="register" class="btn btn-primary" [disabled]="message.invalid || image.invalid" (click)="makeNewPost(); getPosts()">Post!</button>
    </div>
  </form>
  <br>


  <div class="container paddingRegistration" *ngFor="let post of postList">
    <app-posting [img]="post.imageUrl" [username]="postUsername"  [message]="post.message" [postId]="post.id"></app-posting>
  </div>

</div>


