<div class="container " >
  <br>
  <div class="card ">
    <div class="posting">

      <div class="posting-userimg">
        <img src="assets/img/user_icon.png" height="32px">
      </div>
      <div class="posting-content">
        <p class="username"  > {{username}} </p>
       <p class="content"> {{message}}</p>
        <p class="date">  {{datePosting}} </p>
      </div>
      <div class="posting-emoji">
        <img src="{{img}}" height="38px">
      </div>
      <div class="posting-empty">
      </div>
      <div class="posting-delete">
        <a href="#!" class="btn btn-secondary follow-btn">  <img src="assets/img/trash.png" height="20px"  > </a>
      </div>
    </div>
  </div>

</div>



